#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <physical_layouts.dtsi>

/ {
    // PHYSICAL LAYOUT для ZMK Studio (54 клавиши)
    chosen {
        zmk,physical-layout = &lily58_layout;
    };

    lily58_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Lily58 Layout";
        keys  = <&key_physical_attrs 100 100 0 0>,  // 1
                <&key_physical_attrs 100 100 0 0>,  // 2
                <&key_physical_attrs 100 100 0 0>,  // 3
                <&key_physical_attrs 100 100 0 0>,  // 4
                <&key_physical_attrs 100 100 0 0>,  // 5
                <&key_physical_attrs 100 100 0 0>,  // 6
                <&key_physical_attrs 100 100 0 0>,  // 7
                <&key_physical_attrs 100 100 0 0>,  // 8
                <&key_physical_attrs 100 100 0 0>,  // 9
                <&key_physical_attrs 100 100 0 0>,  // 10
                <&key_physical_attrs 100 100 0 0>,  // 11
                <&key_physical_attrs 100 100 0 0>,  // 12
                <&key_physical_attrs 100 100 0 0>,  // 13
                <&key_physical_attrs 100 100 0 0>,  // 14
                <&key_physical_attrs 100 100 0 0>,  // 15
                <&key_physical_attrs 100 100 0 0>,  // 16
                <&key_physical_attrs 100 100 0 0>,  // 17
                <&key_physical_attrs 100 100 0 0>,  // 18
                <&key_physical_attrs 100 100 0 0>,  // 19
                <&key_physical_attrs 100 100 0 0>,  // 20
                <&key_physical_attrs 100 100 0 0>,  // 21
                <&key_physical_attrs 100 100 0 0>,  // 22
                <&key_physical_attrs 100 100 0 0>,  // 23
                <&key_physical_attrs 100 100 0 0>,  // 24
                <&key_physical_attrs 100 100 0 0>,  // 25
                <&key_physical_attrs 100 100 0 0>,  // 26
                <&key_physical_attrs 100 100 0 0>,  // 27
                <&key_physical_attrs 100 100 0 0>,  // 28
                <&key_physical_attrs 100 100 0 0>,  // 29
                <&key_physical_attrs 100 100 0 0>,  // 30
                <&key_physical_attrs 100 100 0 0>,  // 31
                <&key_physical_attrs 100 100 0 0>,  // 32
                <&key_physical_attrs 100 100 0 0>,  // 33
                <&key_physical_attrs 100 100 0 0>,  // 34
                <&key_physical_attrs 100 100 0 0>,  // 35
                <&key_physical_attrs 100 100 0 0>,  // 36
                <&key_physical_attrs 100 100 0 0>,  // 37
                <&key_physical_attrs 100 100 0 0>,  // 38
                <&key_physical_attrs 100 100 0 0>,  // 39
                <&key_physical_attrs 100 100 0 0>,  // 40
                <&key_physical_attrs 100 100 0 0>,  // 41
                <&key_physical_attrs 100 100 0 0>,  // 42
                <&key_physical_attrs 100 100 0 0>,  // 43
                <&key_physical_attrs 100 100 0 0>,  // 44
                <&key_physical_attrs 100 100 0 0>,  // 45
                <&key_physical_attrs 100 100 0 0>,  // 46
                <&key_physical_attrs 100 100 0 0>,  // 47
                <&key_physical_attrs 100 100 0 0>,  // 48
                <&key_physical_attrs 100 100 0 0>,  // 49
                <&key_physical_attrs 100 100 0 0>,  // 50
                <&key_physical_attrs 100 100 0 0>,  // 51
                <&key_physical_attrs 100 100 0 0>,  // 52
                <&key_physical_attrs 100 100 0 0>,  // 53
                <&key_physical_attrs 100 100 0 0>;  // 54
    };
    
    behaviors {

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        sk: sticky_shift {
            compatible = "zmk,behavior-sticky-key";
            #binding-cells = <1>;
            release-after-ms = <1000>;
        };

    };


    macros {

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &kp C>,
                <&macro_release &kp LGUI>;
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &kp V>,
                <&macro_release &kp LGUI>;
        };

        copy_terminal: copy_terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_press &kp LSHIFT>,
                <&macro_tap &kp C>,
                <&macro_release &kp LSHIFT>,
                <&macro_release &kp LCTRL>;
        };

        paste_terminal: paste_terminal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_press &kp LSHIFT>,
                <&macro_tap &kp V>,
                <&macro_release &kp LSHIFT>,
                <&macro_release &kp LCTRL>;
        };

        cmd_l: cmd_l {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &kp L>,
                <&macro_release &kp LGUI>;
        };

        cmd_r: cmd_r {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &kp R>,
                <&macro_release &kp LGUI>;
        };

        cmd_d: cmd_d {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &kp D>,
                <&macro_release &kp LGUI>;
        };

        cmd_a: cmd_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &kp A>,
                <&macro_release &kp LGUI>;
        };

        cmd_e: cmd_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LGUI>,
                <&macro_tap &kp E>,
                <&macro_release &kp LGUI>;
        };

        alt_left: alt_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LALT>,
                <&macro_tap &kp LEFT>,
                <&macro_release &kp LALT>;
        };

        alt_right: alt_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LALT>,
                <&macro_tap &kp RIGHT>,
                <&macro_release &kp LALT>;
        };

    };


    keymap {

        compatible = "zmk,keymap";


        base_layer {

            display-name = "Base";

            bindings = <
&kp ESC       &kp N1        &kp N2        &kp N3        &kp N4        &kp N5
&kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp BSPC

&kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T
&kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSLH

&kp LCTRL     &hm LCTRL A   &hm LALT S    &hm LGUI D    &hm LSHIFT F  &kp G
&kp H         &hm RSHIFT J  &hm RGUI K    &hm RALT L    &hm RCTRL SEMI &kp SQT

&kp LSHIFT    &kp Z         &kp X         &kp C         &kp V         &kp B
&kp LBKT      &kp RBKT      &kp N         &kp M         &kp COMMA     &kp DOT

&kp LALT      &mo 1         &kp SPACE
&kp ENTER     &mo 2         &mo 4
            >;
        };


        symbols_layer {

            display-name = "Symbols";

            bindings = <
&kp GRAVE     &kp F1        &kp F2        &kp F3        &kp F4        &kp F5
&kp F6         &kp F7        &kp F8        &kp F9        &kp F10       &kp DEL

&kp TILDE      &kp EXCL     &kp AT        &kp HASH      &kp DLLR      &kp PRCNT
&kp CARET      &kp AMPS     &kp STAR      &kp LPAR      &kp RPAR      &kp F11

&kp MINUS      &kp EQUAL    &kp LBRC      &kp RBRC      &kp LBKT      &kp RBKT
&kp LESS       &kp GREATER  &kp PIPE      &kp BSLH      &kp GRAVE     &kp F12

&kp UNDER      &kp PLUS     &kp COLON     &kp SEMI      &kp DQT       &kp SQT
&kp HOME       &kp PG_DN    &kp PG_UP     &kp END       &kp INS       &trans

&trans         &trans       &trans
&trans         &trans       &trans
            >;
        };


        nav_layer {

            display-name = "Navigation";

            bindings = <
&trans         &trans       &trans       &trans       &trans       &trans
&trans         &trans       &trans       &trans       &trans       &trans

&cmd_a         &copy         &paste       &copy_terminal &paste_terminal &trans
&kp HOME       &kp UP        &kp END      &kp INS      &trans       &trans

&alt_left      &kp LEFT      &kp DOWN     &kp RIGHT    &kp DEL      &alt_right
&trans         &trans       &trans       &trans       &trans       &trans

&trans         &trans       &trans       &trans       &trans       &trans
&trans         &trans       &trans       &trans       &trans       &trans

&trans         &trans       &trans
&trans         &trans       &trans
            >;
        };


        adjust_layer {

            display-name = "Adjust";

            bindings = <
&bt BT_CLR     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
&out OUT_TOG   &trans       &trans       &trans       &trans       &trans

&sys_reset     &bootloader  &trans       &trans       &trans       &trans
&trans         &trans       &trans       &trans       &trans       &trans

&trans         &trans       &trans       &trans       &trans       &trans
&trans         &trans       &trans       &trans       &trans       &trans

&trans         &trans       &trans
&trans         &trans       &trans
            >;
        };


        numpad_layer {

            display-name = "NumPad";

            bindings = <
&kp KP_NUM      &kp KP_DIVIDE    &kp KP_MULTIPLY &kp KP_SUBTRACT &trans &trans
&kp KP7         &kp KP8          &kp KP9         &kp KP_ADD      &trans &trans

&kp KP4         &kp KP5          &kp KP6         &trans          &trans &trans
&kp KP1         &kp KP2          &kp KP3         &kp KP_ENTER    &trans &trans

&kp KP0         &kp KP_DOT       &kp KP_EQUAL   &trans          &trans &trans
&trans          &trans           &trans

&trans          &trans           &trans
&trans          &trans           &trans
            >;
        };

    };


    conditional_layers {

        compatible = "zmk,conditional-layers";

        tri_layer {

            if-layers = <1 2>;
            then-layer = <3>;

        };

    };

};